@import 'base/mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url();
    src: url();
}

html {
    font-family: Roboto, sans-serif;
}

.container {
    width: 1600px;
    margin: 0 auto;
}


@import 'blocks/categories';
@import 'blocks/media';